In [3]:
import pandas as pd
from datetime import datetime
from pandas_profiling import ProfileReport

- Advanced Profiling can be done with the ProfileReport class.
- You can get valuable and detailed information about each column in a dataframe such as correlation between columns, missing values, columns with uniform distribution, cardinality level, if each column is categorical, distinct counts, zero counts, mean size, max size, min size and also details about the memory size for each column.

In [36]:
# Create a demo sales_data dataframe...
sales_data = [
    [1,datetime(2021,2,10),"Online","Brian",1,"Navy Suit","Clothes","Suits",240.00,2,75.00],
    [2,datetime(2021,2,10),"Online","Carrie",2,"Leather Jacket","Clothes","Jackets",195.00,1,65.00],
    [3,datetime(2021,2,11),"In Store","Carrie",2,"Leather Jacket","Clothes","Jackets",195.00,1,65.00],
    [4,datetime(2021,2,13),"Online","Paula",3,"Necklace","Jewellery","Necklaces",70.00,2,-10.00],
    [5,datetime(2021,2,13),"In Store","Simon",4,"Gold Ring","Jewellery","Rings",180.00,2,20.00],
    [6,datetime(2021,2,24),"In Store","Jenny",5,"Laptop","Electronics","Computers",600.00,1,130.00],
    [7,datetime(2021,3,15),"Online","Malcolm",1,"Navy Suit","Clothes","Suits",120.00,1,25.00],
    [8,datetime(2021,3,21),"In Store","Jack",1,"Navy Suit","Clothes","Suits",120.00,1,25.00],
    [9,datetime(2021,3,23),"Online","Sally",1,"Navy Suit","Clothes","Suits",120.00,1,25.00],
    [10,datetime(2021,3,24),"Online","Oliver",1,"Navy Suit","Clothes","Suits",240.00,2,75.00],
    [11,datetime(2021,3,25),"Online","Janice",5,"Laptop","Electronics","Computers",1800.00,3,390.00]
]

df = pd.DataFrame(sales_data, 
    columns=[
        "Order ID",
        "Order Date",
        "In Store or Online",
        "Customer Name",
        "Product ID",
        "Product Name",
        "Category",
        "Sub-Category",
        "Sales",
        "Quantity",
        "Profit"
])
df

,Order ID,Order Date,In Store or Online,Customer Name,Product ID,Product Name,Category,Sub-Category,Sales,Quantity,Profit
0,1,2021-02-10,Online,Brian,1,Navy Suit,Clothes,Suits,240.0,2,75.0
1,2,2021-02-10,Online,Carrie,2,Leather Jacket,Clothes,Jackets,195.0,1,65.0
2,3,2021-02-11,In Store,Carrie,2,Leather Jacket,Clothes,Jackets,195.0,1,65.0
3,4,2021-02-13,Online,Paula,3,Necklace,Jewellery,Necklaces,70.0,2,-10.0
4,5,2021-02-13,In Store,Simon,4,Gold Ring,Jewellery,Rings,180.0,2,20.0
5,6,2021-02-24,In Store,Jenny,5,Laptop,Electronics,Computers,600.0,1,130.0
6,7,2021-03-15,Online,Malcolm,1,Navy Suit,Clothes,Suits,120.0,1,25.0
7,8,2021-03-21,In Store,Jack,1,Navy Suit,Clothes,Suits,120.0,1,25.0
8,9,2021-03-23,Online,Sally,1,Navy Suit,Clothes,Suits,120.0,1,25.0
9,10,2021-03-24,Online,Oliver,1,Navy Suit,Clothes,Suits,240.0,2,75.0
10,11,2021-03-25,Online,Janice,5,Laptop,Electronics,Computers,1800.0,3,390.0

# 1. Advanced Profiling

In [33]:
# Profile Report
profile_report = ProfileReport(df, title="Sales Data Profiling")

In [34]:
# View profile report in this notebook
profile_report.to_widgets()

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [35]:
# The report can also be published as a web page (with menu options)
profile_report.to_file("sales_data_profiling.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]